<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- popup1 script -->
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>
    $(document).ready(function(){
        PopUpHide();
    });
    function PopUpShow(category_index){
        $("#popup"+category_index).show();
    }
    function PopUpHide(category_index){
        $("#popup"+category_index).hide();
    }
    </script>
    <!-- popup1 script -->

    <!--calc script -->
<script type="text/javascript">

$("#input2,#input1").keyup(function calc() {

    $('#output').val($('#input1').val() * $('#input2').val());

});
</script>
    <!--calc script -->


    <title>ListIt</title>
</head>
<body>
    <div class="appwidth" style="max-width: 650px">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="row font-125" style="display: flex; justify-content: space-between">
                <div><b>Hi, {{ request.user }}! </b></div>
                <div class="right"> <a href="accounts/logout"><b>logout</b></a></div>
            </div>
            <div style="color: seagreen; font: seagreen" class="font-125">
                <span>It´s the list of ALL categories and products<br>
                    - add/delete your personal categories and products here <br>
                    - include its in actual list clicking on <img src="static/img/novisible.png" height="15px" width="15px"alt="not in list"> icon<br>
                    <span class="font-100"><i>We have prepared some default categories for you, <br>
                        add/restore them to your list, clicking the button</i></span>
                    <form method="POST" action="/add_default_categories">{% csrf_token %}
                    <button type="submit">+ restore default categories +</button>
                    </form>
                </p>

                <p><a href = "actual_list">
                    <button style="color: white;text-decoration: none;border: 2px solid darkseagreen; border-radius: 4px; background: repeating-linear-gradient(
55deg, darkseagreen, transparent 100px);"><b>OPEN ACTUAL LIST</b>
                    </button>
                    </a><br></p>
            </div>
            {% else %}
            <a href="/login">not worked, login</a>
            {% endif %}

            <div class="listheader container appwidth center"  style="max-width: 650px">


                <div class="incart center">Showed in list</div>
                <div class="category" title="Category"></div>
                <div class="product-name" style="background-color: #7fffD4; width: 50%;">Product name</div>
                <div style="width: 5%;" >+/-</div><div style="width: 5%;" > </div>
                <!--div class="price right">Price</div>
                <div class="quantity right">Units/packs</div>
                <div class="total right">Total</div-->


            </div>
        </div>
    </div>

    <div class="appwidth "  style="max-width: 650px">
        <div class="row">


            {% for item in categories %}

            <div class="row">
                <div class="listbody">
                    <div class="incart center"><a href="show_category/{{ item.id }}">{% if item.is_published == True %}<img src="static/img/visible.png" height="15px" width="15px"alt="in list">
                        {% else %}<img src="static/img/novisible.png" height="15px" width="15px"alt="not in list"> {% endif %}</a>
                    </div>
                    <div style="width: 50%; " class = "font-150 font-list-content category-color-mainlist">
                        {% if item.user.id != 7 %}
                        {{ item.name|capfirst }}<b></b>
                            <span><a href="delete_category/{{ item.id }}" style="color: darkred; text-decoration: none; padding-left: 20px;"><b>x</b></a></span>
                        {% else %}
                            <span style="color: #3f3f3f; "><b>{{ item.name|capfirst }}</b></span><span style="color: #aaaaaa"><b> -- </b></span>
                        {% endif %}
                    </div>
                    <div style="width: 20%;" >
                        <!-- popup1 window  -->
                        <a href="javascript:PopUpShow({{ item.id }})" style="color:rgb(52, 180, 58); text-decoration: none; padding-right: 20px;"><button class="green-button" "><b>+product</b></button></a>
                        <div class="b-popup" id="popup{{ item.id }}"  style="display: none;">
                            <div class="b-popup-content">

                             <form id="create_product" method="POST" action="/listitapp/create_product/{{ item.id }}">{% csrf_token %}
                                <p>Add new product to "{{ item.name|capfirst }}"
                                 <input type="text" value=""  placeholder=" Add new product here" required name="new_product">
                                 <button type="submit">add</button>
                                 <button type="reset" onclick="javascript:PopUpHide('{{ item.id }}')">cancel</button>
                                </p>
                             </form>

                            </div>
                        </div>
                        <!--  popup1 window    -->
                    </div>
                    <div class="total right"></div>
                 </div>

                {% for product in prods %}
                {% if item.name|stringformat:"s" == product.category|stringformat:"s" %}
                    <div class="row listbody" style="background-color: lightgrey">
                            <div  style="width: 10%;  padding: 0 0 0 5px;" ><a href="show_product/{{ product.id }}">{% if product.is_published == True %}<img src="static/img/visible.png" height="15px" width="15px"alt="in list">
                        {% else %}<img src="static/img/novisible.png" height="15px" width="15px"alt="not in list"> {% endif %}</a>
                            </div>
                            <div class="category"></div>
                            <div class="product-name font-140 font-list-content product-color-mainlist">{{ product.product_name }}
                                <!--span><a href="modify_product/{{ product.id }}" style="color: orange; text-decoration: none; padding-right: 20px;">
                                    <img src="static/img/modify.svg" height="15px" width="15px"></a></span-->
                                <span style="float: right;"><a href="delete_product/{{ product.id }}" style="color: red; text-decoration: none; padding-right: 20px;"><b>x</b></a></span>
                            </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="appwidth appfooter" style="max-width: 650px">
        <div class="row " style="width: 100%; display: flex;">
            <div style="width: 30%;">
                <form id="show_add_form" style="display: none;" method="POST" action="/listitapp/create_category">{% csrf_token %}
                    <input type="text" value=""  placeholder=" Add new category here" required name="new_category">
                    <button type="submit">add</button>
                    <button type="reset"  onclick="disp(document.getElementById('show_add_form'))">cancel</button>
                </form>
                <!--form method="POST" type="text" name="new_category"-->
                <input id="add_button" type="button" value="Add category" onclick="disp(document.getElementById('show_add_form'))"  style="display: block;">
            </div>
            <div style="width: 40%;">freespace</div>
            <div style="width: 30%; text-align: center;">total cost: 00.00</div>
        </div>
        <!--div class="row center" >lacks N products from the list</div-->
    </div>


    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block"; hide_add_button(document.getElementById('add_button'))
            } else {
                form.style.display = "none"; hide_add_button(document.getElementById('add_button'))
            }
        }

        function hide_add_button(input) {
            if (input.style.display == "none") {
                input.style.display = "block";
            } else {
                input.style.display = "none";
            }
        }

    </script>


</body>
</html>