<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- popup1 script -->
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>
    $(document).ready(function(){
        PopUpHide();
    });
    function PopUpShow(category_index){
        $("#popup"+category_index).show();
    }
    function PopUpHide(category_index){
        $("#popup"+category_index).hide();
    }
    </script>
    <!-- popup1 script -->

    <!--calc script -->
<script type="text/javascript">

$("#input2,#input1").keyup(function calc() {

    $('#output').val($('#input1').val() * $('#input2').val());

});
</script>
    <!--calc script -->


    <title>ListIt</title>
</head>
<body>
    <div class="appwidth">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="row" style="display: flex; justify-content: space-between">
                <div ><b>Hi, {{ request.user }}! </b></div>
                <div class="right"> <a href="accounts/logout"><b>logout</b></a></div>
            </div>
            <div>
                <p>It's you list of <b>all</b> categories and products.<br>
                    You can add/delete <i>your</i> categories and products here, <br>
                    and include its in actual list clicking on <img src="static/img/novisible.png" height="15px" width="15px"alt="not in list"> icon</p>

                if you want add default categories in you list, please click here
                    <form method="POST" action="/add_default_categories">{% csrf_token %}
                    <button type="submit">add</button>
                    </form>
                <p><a href = "actual_list"><b>go to actual list</b><br></a>
            </div>
            {% else %}
            <a href="/login">not worked, login</a>
            {% endif %}

            <div class="listheader container appwidth center"  style="max-width: 650px">


                <div class="incart center">Showed in list</div>
                <div class="category" title="Category">Cat</div>
                <div class="product-name" style="background-color: #7fffD4; width: 50%;">Product name</div>
                <div style="width: 5%;" >+/-</div><div style="width: 5%;" > </div>
                <!--div class="price right">Price</div>
                <div class="quantity right">Units/packs</div>
                <div class="total right">Total</div-->


            </div>
        </div>
    </div>

    <div class="appwidth "  style="max-width: 650px">
        <div class="row">


            {% for item in categories %}

            <div class="row">
                <div class="listbody">
                    <div class="incart center"><a href="show_category/{{ item.id }}">{% if item.is_published == True %}<img src="static/img/visible.png" height="15px" width="15px"alt="in list">
                        {% else %}<img src="static/img/novisible.png" height="15px" width="15px"alt="not in list"> {% endif %}</a>
                    </div>
                    <div style="width: 40%; ">
                        {% if item.user.id != 7 %}
                        <b>{{ item.name|capfirst }}</b>
                        <a href="delete_category/{{ item.id }}"> <img src="static/img/cancel.png" height="15px" width="15px" align="center" title="delete category" alt="delete category"></a>
                        {% else %}
                        <span style="color: #3f3f3f"><b>{{ item.name|capfirst }}</b></span><span style="color: #aaaaaa"><b> -- </b></span>
                        <!--img src="static/img/lock.png" height="15px" width="15px"alt="default category"-->
                        {% endif %}
                        <!--span ><a href="show_category/{{ item.id }}">show</a></span-->
                        <!--span ><a href="hide_category/{{ item.id }}">hide</a></span-->
                    </div>
                    <div style="width: 20%;" >




<!-- popup1 window  -->
<a href="javascript:PopUpShow({{ item.id }})" style="color:rgb(52, 180, 58); text-decoration: none; padding-right: 20px;"><button style="color:rgb(52, 180, 58); text-decoration: none; border: 2px solid #4CAF50; border-radius: 8px; "><b>+product</b></button></a>
<!--div class="b-container">
    add product
    <a href="javascript:PopUpShow()">+</a>
</div-->
<div class="b-popup" id="popup{{ item.id }}"  style="display: none;">
    <div class="b-popup-content">

     <form id="create_product" method="POST" action="/listitapp/create_product/{{ item.id }}">{% csrf_token %}
        <p>Add new product to "{{ item.name|capfirst }}"
         <input type="text" value=""  placeholder=" Add new product here" required name="new_product">
         <button type="submit">add</button>
         <button type="reset" onclick="javascript:PopUpHide('{{ item.id }}')">cancel</button>
        </p>
     </form>

    </div>
</div>
<!--  popup1 window    -->


                    </div>

                    <div class="total right"></div>


                </div>

                {% for product in prods %}
                {% if item.name|stringformat:"s" == product.category|stringformat:"s" %}
                    <div class="row listbody" style="background-color: lightgrey">
                            <div style="width: 10%;" > </div>
                            <div class="category"></div>
                            <div class="product-name">{{ product.product_name }}
                                <!--span><a href="modify_product/{{ product.id }}" style="color: orange; text-decoration: none; padding-right: 20px;">
                                    <img src="static/img/modify.svg" height="15px" width="15px"></a></span-->
                                <span style="float: right;"><a href="delete_product/{{ product.id }}" style="color: red; text-decoration: none; padding-right: 20px;"><b>x</b></a></span>
                            </div>
                            <!--div class="price right"><input type="text" name="{{ product.product_name }}1"
                                   id="{{ product.product_name }}1"  value="{{ product.price }}" maxlength="6"  style="width: 45px;">
                            </div>
                            <div class="quantity right"><input type="text" name="{{ product.product_name }}2" id="{{ product.product_name }}2" value="{{ product.quantity }}"  maxlength="6"  style="width: 45px;">
                            </div>
                            <div class="total right"><input type="text" name="{{ product.product_name }}output" id="{{ product.product_name }}output" value="{{ product.total_cost }}"  style="width: 45px;">
                                <script type="text/javascript">
                                $("#{{ product.product_name }}2,#{{ product.product_name }}1").keyup(function ()
                                {
                                    var pricetoadd = $('#{{ product.product_name }}1').val();
                                    $('#{{ product.product_name }}output').val(($('#{{ product.product_name }}1').val() * $('#{{ product.product_name }}2').val()).toFixed(2));
                                });
                                </script></div-->
                            <!--div class="incart center"><a href="modify_product_status/{{ product.id }}">{% if product.product_status == True %}<img src="/static/admin/img/icon-yes.svg" alt="True">
                            {% else %}<img src="/static/admin/img/icon-no.svg" alt="False">{% endif %}</a>
                            </div-->


                    </div>
                {% endif %}
                {% endfor %}

            </div>

            {% endfor %}

        </div>
    </div>

    <div class="appwidth appfooter">
        <div class="row " style="width: 100%; display: flex;">
            <div style="width: 30%;">
                <form id="show_add_form" style="display: none;" method="POST" action="/listitapp/create_category">{% csrf_token %}
                    <input type="text" value=""  placeholder=" Add new category here" required name="new_category">
                    <button type="submit">add</button>
                    <button type="reset"  onclick="disp(document.getElementById('show_add_form'))">cancel</button>
                </form>
                <!--form method="POST" type="text" name="new_category"-->
                <input id="add_button" type="button" value="Add category" onclick="disp(document.getElementById('show_add_form'))"  style="display: block;">
            </div>
            <div style="width: 40%;">freespace</div>
            <div style="width: 30%; text-align: center;">total cost: 00.00</div>
        </div>
        <div class="row center" >lacks N products from the list</div>
    </div>


    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block"; hide_add_button(document.getElementById('add_button'))
            } else {
                form.style.display = "none"; hide_add_button(document.getElementById('add_button'))
            }
        }

        function hide_add_button(input) {
            if (input.style.display == "none") {
                input.style.display = "block";
            } else {
                input.style.display = "none";
            }
        }

    </script>






</body>
</html>