@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');

body {
    background-color: fff;
    font-size: 13px;
    font-family: 'Cuprum', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
    text-decoration: none;/*
    color: #555555;
    border-bottom: 1px dashed #999999;
    font-weight: bold;*/
}

a:visited {
    color: #555555;
}
/*
a:hover {
    color: #000000;
    border-bottom: .07em solid;
}
*/

.listheader {
    display: flex;
    flex-wrap: nowrap;
    background-color:  rgb(33 151 151 / 70%);
    color:teal !important;
    padding: 10px 0px 10px 0px;
    font-family: 'Cuprum', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listbody {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff66;
    padding: 2px 0px 2px 0px;
    align-items: center;
}

.row-content {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color:#ffffff99;
}

.row-mainlist-poduct {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color:#ffffff99;
}

.appfooter {
    display: block;
    flex-wrap: nowrap;
    align-content: center;
    background-color: rgb(33 151 151 / 70%);
    color: #ffffff;
    padding: 5px 0px 5px 0px;
    height: 50px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
     justify-content: right;
}

.left {
    text-align: left;
}

.category {
    width: 5%;
}

.product-name {
    width: 45%;
    text-align: left;
}

.font-list-content {
    width: 45%;
    text-align: left;
    font-family: 'Cuprum','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.font-100 {
    font-size: 100%;
    font-family: 'Cuprum','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-125 {
    font-size: 125%;
}

.font-140 {
    font-size: 140%;
}

.font-150 {
    font-size: 150%;
}

.category-color-mainlist {
    color: teal;/* seagreen; */
}

.product-color-mainlist {
    color: lightseagreen; /*dimgrey; */
}

.category-color {
    color: lightseagreen;
}

.product-color {
    color: teal;
}

input {
    border: 1px solid mediumspringgreen;
    border-radius: 4px;
}

.green-button{
    color: white;
    text-decoration: none;
    border: 2px #48D1CC;
    border-radius: 4px;
    background: #48D1CC80;
}

.reset-button{
    color: white;
    text-decoration: none;
    border: 2px #48D1CC;
    border-radius: 2px;
    background: #48D1CC80;
}

.popup-button{
    /*color: #48D1CC;*/
    text-decoration: none;
    border: 2px #48D1CC;
    border-radius: 4px;
    background: #ffffff;
}

.list-button {
    color: white;
    border: 2px teal;
    border-radius: 4px;
    background: repeating-linear-gradient(
        55deg, rgb(33 151 151 / 70%), transparent 100px);
}

.shadow {
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.3); /* Параметры тени */
    padding: 2px;
}
/*.calculate-input {
    border: 1px solid;
    border-radius: 4px 0 0 4px;
}*/

.price {
    width: 10%;
    min-width: 45px;
}

.quantity {
    width: 10%;
    min-width: 45px;
}

.total {
    width: 10%;
    min-width: 45px;
}

.incart {
    width: 10%;
    min-width: 50px;
}

.b-container{
    width:auto;
    height:auto;
    background-color: rgb(31, 138, 138);
    margin:0px auto;
    position: absolute;
    /*padding:11px;
    font-size:10px;
    color: #fff;*/
}
.b-popup{
    width:200%;
    min-height:150%;
    background-color: rgba(63, 62, 62, 0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0%;
}
.b-popup .b-popup-content{
    position: absolute;
    margin: 20px auto 0px auto;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: rgba(153, 204, 204, 0.7);
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    left: 10%;
    top: 10%;
}

.underwater-background {
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}