@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');

body {
    background-color: fff;
    font-size: 13px;
    font-family: 'Cuprum', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
    text-decoration: none;/*
    color: #555555;
    border-bottom: 1px dashed #999999;
    font-weight: bold;*/
}

a:visited {
    color: #555555;
}
/*
a:hover {
    color: #000000;
    border-bottom: .07em solid;
}
*/

.listheader {
    display: flex;
    flex-wrap: nowrap;
    background-color: aquamarine;
    color:teal !important;
    padding: 10px 0px 10px 0px;
    font-family: 'Acme', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listbody {
    display: flex;
    flex-wrap: nowrap;
    background-color: gainsboro;   
    padding: 2px 0px 2px 0px;
    align-items: center;
}

.row-content {
    display: flex;
    align-items: center;
    justify-content: right;
}

.appfooter {
    display: block;
    flex-wrap: nowrap;
    align-content: center;
    background-color: aquamarine;
    color:teal !important;
    padding: 5px 0px 5px 0px;
    height: 50px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}


.category {
    width: 5%;
}

.product-name {
    width: 45%;
    text-align: left;
    background-color: #d8d8d8;
}

.font-list-content {
    width: 45%;
    text-align: left;
    background-color: #d8d8d8;
    font-family: 'Cuprum','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.font-100 {
    font-size: 100%;
}

.font-125 {
    font-size: 125%;
}

.font-140 {
    font-size: 140%;
}

.font-150 {
    font-size: 150%;
}
/*
.category-color {
    color: maroon;
}

.product-color {
    color: dimgrey;
}
*/

.category-color {
    color: mediumseagreen;
}

.product-color {
    color: darkslategrey;
}

.category-color-mainlist {
    color: seagreen;
}

.product-color-mainlist {
    color: dimgrey;
}

input {
    border: 1px solid mediumspringgreen;
    border-radius: 4px;
}

.green-button{
    color: white;
    text-decoration: none;
    border: 2px solid darkseagreen;
    border-radius: 4px;
    background: darkseagreen;"
}

/*.calculate-input {
    border: 1px solid;
    border-radius: 4px 0 0 4px;
}*/

.price {
    width: 10%;
    min-width: 45px;
}

.quantity {
    width: 10%;
    min-width: 45px;
}

.total {
    width: 10%;
    min-width: 45px;
}

.incart {
    width: 10%;
    min-width: 50px;
}

.b-container{
    width:auto;
    height:auto;
    background-color: rgb(31, 138, 138);
    margin:0px auto;
    position: absolute;
    /*padding:11px;
    font-size:10px;
    color: #fff;*/
}
.b-popup{
    width:200%;
    min-height:150%;
    background-color: rgba(63, 62, 62, 0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0%;
}
.b-popup .b-popup-content{
    position: absolute;
    margin: 20px auto 0px auto;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: rgba(153, 204, 204, 0.7);
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    left: 10%;
    top: 10%;
}
