body {
    background-color: fff;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listheader {
    display: flex;
    flex-wrap: nowrap;
    background-color: aquamarine;
    color:teal !important;
    padding: 10px 0px 10px 0px;
}

.listbody {
    display: flex;
    flex-wrap: nowrap;
    background-color: gainsboro;   
    padding: 5px 0px 5px 0px; 

}

.appfooter {
    display: block;
    flex-wrap: nowrap;
    align-content: center;
    background-color: aquamarine;
    color:teal !important;
    padding: 10px 0px 10px 0px;
    height: 50px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.appwidth {
    min-width: 450px;
}

.category {
    width: 5%;
}

.product-name {
    width: 55%;
    text-align: left;
    background-color: #d8d8d8;
}

.price {
    width: 10%;
}

.quantity {
    width: 10%;
}

.total {
    width: 10%;
}

.incart {
    width: 10%;
}

.b-container{
    width:auto;
    height:auto;
    background-color: rgb(31, 138, 138);
    margin:0px auto;
    position: absolute;
    /*padding:11px;
    font-size:10px;
    color: #fff;*/
}
.b-popup{
    width:200%;
    min-height:150%;
    background-color: rgba(63, 62, 62, 0.5);
    overflow:hidden;
    position:absolute; 
    top:0px;
    left: 0%;
}
.b-popup .b-popup-content{
    position: absolute;
    margin: 20px auto 0px auto;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: rgba(153, 204, 204, 0.7);
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    left: 10%;
    top: 100px;
}