<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ListIt</title>
</head>
<body>
    <div class="container appwidth">   
        <div class="row"> 
            <div class="listheader container appwidth center">

                
                <div class="category" title="Category">Cat</div>
                <div class="product-name">Product name</div>
                <div class="price right">Price</div>
                <div class="quantity right">Quantity</div>
                <div class="total right">Total</div>
                <div class="incart center">In cart</div>

            </div>
        </div>
    </div>

    <div class="container appwidth "> 
        <div class="row">

            {% for item in categories %}
            <div class="row" style="background-color: aliceblue;">
                <div class="listbody">
                <div style="width: 50%;"><b>{{ item.name|capfirst }}</b></div>
                <div style="width: 5%;" class="right">+</div>
                <div style="width: 25%;"></div>
                <div class="total right">0.00</div>
                <div class="incart center">False</div>
                </div>
                {% for product in prods %} 
                {% if item.name|stringformat:"s" == product.category|stringformat:"s" %} 
                    <div class="row listbody">
                        <div class="category"></div>
                        <div class="product-name">{{ product.product_name }}</div>
                        <div class="price right">{{ product.price }}</div>   
                        <div class="quantity right">{{ product.quantity }}</div>
                        <div class="total right">{{ product.total_cost }}</div>
                        <div class="incart center">{{ product.product_status }}</div>                
                    </div>                     
                {% endif %}
                {% endfor %}
           
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container appwidth appfooter">
        <div class="row " style="width: 100%; display: flex;">    
            <div style="width: 30%;">
                <form id="show_add_form" style="display: none;" method="POST" action="/listitapp/create_category">{% csrf_token %}
                    <input type="text" value="write new category here"  required name="new_category">
                    <button type="submit">add</button>
                    <button type="reset"  onclick="disp(document.getElementById('show_add_form'))">cancel</button>
                </form>
                <!--form method="POST" type="text" name="new_category"-->
                <input id="add_button" type="button" value="Add category" onclick="disp(document.getElementById('show_add_form'))"  style="display: block;">
            </div>
            <div style="width: 40%;">freespace</div>
            <div style="width: 30%; text-align: center;">total cost: 00.00</div>
        </div>
        <div class="row center" >lacks N products from the list</div>
    </div>


    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block"; hide_add_button(document.getElementById('add_button'))
            } else {
                form.style.display = "none"; hide_add_button(document.getElementById('add_button'))
            }
        }
        
        function hide_add_button(input) {
            if (input.style.display == "none") {
                input.style.display = "block"; 
            } else {
                input.style.display = "none";
            }
        }
    
    </script>


</body>
</html>